/**
 * Default Template Styles
 */


// Microformats/hAtom classes

// Added to all posts by post_class()
.hentry {

}

// Should be used on the title within .hentry
.entry-header {

}
// Should be used on the title within .hentry
.entry-title {
	text-align: center;
	margin-bottom: 2rem;
	border-bottom:1px solid $gray-200;
	padding-bottom: 2rem;
}

// Should be used to wrap the_excerpt()
.entry-summary {

}

// Should be used to wrap the_content()
.entry-content {

}

// Present on body of archive pages
.hfeed {

}

// Should be used on the title within .hfeed
.site-title {

}

// Should be used on the content within .hfeed
.site-content {

}

// Post dates - template-tags::birdstrap_posted_on()
.published {

}
.updated {

}
// If the post has been updated since posting, you may not want to show both dates
.updated:not(.published){
	display: none;
}

// Author - template-tags::birdstrap_posted_by()
.byline {

	.label {}

	.author {}
}

// Taxonomy list - template-tags::birdstrap_cats/tags/tax
.taxonomy-list {

	.label {}

	&.categories {}

	&.tags {}
}


// Comments

.comment-content {
	@extend %clear;

	a {
		// Allow links posted in comments to wrap
		word-wrap: break-word;
	}
}

// Use this to highlight comments by the post author
.bypostauthor {
	display: block;
}


// Misc

.sticky {}

// Do not display the WP edit link on the front end for logged-in users
.edit-link {
	display: none;
}
