/**
 * Modifiers
 *
 * Generally applied to WP blocks
 */

// Text & background colors

@each $color, $value in $theme-colors {

	.has-#{$color}-color {
		color: $value;
	}

	.has-#{$color}-background-color {
		background-color: $value;
		color: color-yiq($value);

		// Handle links within colored background
		@if color-yiq($value) == $yiq-text-light {
			a:not(.btn) {
				color: $yiq-text-light;

				&:hover, &:focus {
					color: $yiq-text-light;
					text-decoration: underline;
				}
			}
		}
	}
}


// Typography

.has-small-font-size {
	font-size: 0.875em;
}

.has-text-columns {
	column-width: 300px;
	column-gap: 1rem;

	&--thin {
		column-width: 200px;
	}

	li {
		break-inside: avoid;
	}
}
