/**
 * Gutenberg Block Styling
 */

// Added to all blocks aside from paragraphs and lists
.wp-block {

	// "Classic Editor" block
	&-freeform {}

	&-heading {}

	&-paragraph {

		&.has-background {
			padding: $spacer;
		}
	}

	&-quote {
		@extend .blockquote;

		&__citation {}
	}

	&-pullquote {}

	&-cover {
		$self: &;

		// Need nested specificity to override core styles
		#{$self}__inner-container {
			width: 100%;

			// fix yiq text color
			@each $color, $value in $theme-colors {

				#{$self}.has-#{$color}-background-color & {
					color: color-yiq($value);
				}
			}
		}
	}

	&-group {

	}

	&-cover,
	&-group {
		overflow: hidden;

		&__inner-container {
			@extend .container;
		}
	}

	&-columns {
		flex-wrap: wrap !important;

		@include respond-to('md') {
			flex-wrap: nowrap !important;
		}

		margin: 0 (-$grid-gutter-width/2) 0 !important;
	}

	&-column {
		position: relative;
		margin: $grid-gutter-width/2 !important;
		flex-grow: 1;
		flex-basis: 0; // force equal widths
	}

	&-image {

		// This could be better integrated, but for now assume the content exists within a bootstrap col...
		&.alignwide {
			margin-left: -$grid-gutter-width/2;
			margin-right: -$grid-gutter-width/2;
			max-width: none;

			img {
				width: 100%;
			}
		}
	}

	&-gallery {

		// Only apply styles if not in backend editor
		body:not(.editor-styles-wrapper) & {
			@extend .gallery;

			@for $i from 2 through 9 {
				&.columns-#{$i} {

					.blocks-gallery-item {
						width: 100% / $i;
					}
				}
			}

			.blocks-gallery-item {
				@extend .gallery-item;
			}
		}
	}

	&-button {

		// Actual button element
		&__link {
			@extend .btn;

			// Theme color classes
			@each $color, $value in $theme-colors {

				&.has-#{$color}-color {

					.is-style-outline & {
						@extend .btn-outline-#{$color};
					}
				}
			}

			.is-style-outline & {
				@extend .btn-outline-primary;
			}

			.is-style-squared & {
				border-radius: 0;
			}
		}

		&:not(.is-style-outline) {

			.wp-block-button__link {
				&:not(.has-background) {
					@extend .btn-primary;
				}

				@each $color, $value in $theme-colors {

					&.has-#{$color}-background-color {
						@extend .btn-#{$color};
					}
				}
			}
		}
	}

	&-table {}

	// hr element
	&-separator {

		&:not(.is-style-dots) {
			background-color: $dark;
			border: 0;
			height: 1px;
		}

		&:not(.is-style-wide):not(.is-style-dots) {
			width: 100%;
			height: 4px;
			background: transparent;

			&::before {
				content: '';
				display: block;
				height: 4px;
				width: 40px;
				background: $dark;
			}
		}

		&.is-style-dots:before {
			color: $dark;
			font-size: 18px;
			letter-spacing: 12px;
			padding-left: 12px;
		}
	}

	&-latest-posts {

		&.is-grid {
			list-style: none;
		}
	}
}


// Backend editor styles
// ---------------------

// Title
.editor-post-title__block .editor-post-title__input {
	@extend .h1;
}
