/**
 * General Page Content Styles
 */


// Bootstrap element tweaks

.jumbotron {
	margin-bottom: 0px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	.carousel-item {
		display: block;
	}
}


// Misc

// Yoast breadcrumbs
#breadcrumbs {
	font-size: 0.75em;
	padding: 1.5em 0;
	border-bottom: 1px solid $gray-800;

	.fa {
		padding: 0 1em;
		font-size: 0.8em;
		vertical-align: middle;
		color: $gray-200;
	}
}
