.experience-timeline {
	position: relative;
	@include respond-to('xs','only'){
		margin-top:80px;
		margin-left:20px;
	}
	&::before {
		content:'';
		position: absolute;
		top:0;
		left:-10px;
		height:100%;
		width: 1px;
		background: #999;
		@include respond-to('md'){
			left:50%;
		}
	}

	.timeline-item {
		position:relative;
		@include make-row();
		align-items:center;
		margin-bottom:3rem;
		
		&:nth-of-type(1){
			&::before {
				content:'';
				position: absolute;
				top:0;
				left:0;
				width:100px;
				height:20px;
				background:#fff;
				transform:translateX(-50%);
				@include respond-to('md'){
					left:50%;
					height:50%;
				}
			}
		}
		&:last-child {
			&::before {
				content:'';
				position: absolute;
				bottom:0;
				left:0;
				width:10px;
				height:20px;
				background:#fff;
				transform:translateX(-50%);
				@include respond-to('md'){
					left:50%;
					height:50%;
				}
			}
		}
		&::after {
			content:'';
			position: absolute;
			top:10px;
			//left:50%;
			width:10px;
			height:10px;
			background:$red;
			transform:rotate(45deg);

			@include respond-to('md'){
				left:50%;
				top:50%;
				transform:translateX(-50%) rotate(45deg);

			}
		}
	}
	
	.exp-time-location,
	.exp-detail {
		@include make-col-ready();
		@include make-col(12);
		@include respond-to('md'){
			@include make-col(6);	
		}
		
	}
	.exp-time-location {
		@include respond-to('xs','only'){
			padding-left: 1rem;
			margin-bottom: 1rem;
		}

		@include respond-to('md'){
			padding-right:2rem;
			text-align: right;

		}
	}
	.exp-detail {
		padding-left: 1rem;

		@include respond-to('md'){
			padding-left: 2rem;
		}
	}
	.exp-time {
		@include responsive-font-size(21px, 36px);
		
	}
	.exp-location {
		@include responsive-font-size(16px, 24px);
	}
	.exp-company,
	.exp-title {
		font-weight: 900;
		@include responsive-font-size(16px, 24px);
	}
	.exp-title {
		@include responsive-font-size(16px, 18px);
		margin-bottom:1rem;
	}
	.exp-responsibilities {
		@include responsive-font-size(16px, 18px);
		margin-bottom:1rem;
	}
	.exp-clients {
		@include responsive-font-size(14px, 16px);
		margin-bottom:1rem;
	}
	
	strong {
		font-weight: 900;
	}
}