/**
 * Footer
 */

#colophon {
	@extend %clear;
	@extend .has-dark-background-color;
	padding: $spacer 0;
	text-align: center;

	.site-info {
		margin: $spacer auto;
	}

	.copyright {
		font-size: 0.75em;
		font-weight: 500;
	}
}
