/**
 * Header
 */

#masthead {
	position: absolute; // overriden below if simplystuck is active
	left: 0;
	z-index: $zindex-fixed;
	width: 100%;
	background-color: $body-bg;
	transition: $transition-base;
	border-bottom:1px solid $gray-500;
	background-color:$black;

	color:$white;

	@include respond-to('md'){
		display: flex;
		align-items: center;
	}

	// See mixin—applies $masthead-height setting at breakpoints
	@include apply-masthead-height-to(height);

	@extend %clear;

	// Indicates that simplystuck is active
	.stuck-ready & {
		position: fixed;
		
	}

	.scrolled & {

		// Shrinks masthead on scroll, desktop size
		@include respond-to('md') {
			height: $masthead-height-md;
		}
	}

	.navbar {
		width: 100%;
		height: auto;
		.container {
			display:flex;
			justify-items:center;
		}
	}

	.container,
	[class^=container-] {
		height: 100%;
		// negate default padding removal
		padding: 0 ($grid-gutter-width/2);
	}

	// Logo
	.navbar-brand {
		display: block;
		width: auto;
		height: 100%;

		.logo {
			height:30px;
			width: auto;

			@include respond-to('md'){
				height: 100%;
			}

		}

		.navbar-light & {
			color: $navbar-light-active-color;

			@include hover-focus {
				color: $navbar-light-active-color;
			}
		}

		.navbar-dark & {
			color: $navbar-dark-active-color;

			@include hover-focus {
				color: $navbar-dark-active-color;
			}
		}
	}
}

.main-menu {

	&__content {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;
	}

	@include respond-to('md') {
		height: 100%;
		justify-content: flex-end;

		&__content {
			height: 100%;
			align-items: flex-end;
		}
	}
}
