/**
 * Nav
 */


// General styles applied to all menus
.nav-menu {
	width: 100%;

	.nav-item { // li

	}

	.nav-link { // a

	}

	.dropdown-toggle {
		cursor: pointer;

		&::after { // caret

		}
	}

	.dropdown { // li

		> a:not(.dropdown-toggle) {
			margin-right: 1.5rem;
			padding-right: 0;
		}

		> span.dropdown-toggle {
			position: absolute;
			top: 0;
			right: 0;
			padding: 0.5rem;
		}

		&:hover,
		&:focus {
			> ul {
				display: block;
			}
		}
	}

	&--primary {
		order: 0;
	    font-family: 'Roboto', sans-serif;
	    font-weight: 900;
		@include respond-to('md') {
			order: 1;
			//justify-content: flex-end;
			width: 100%;
			justify-content: space-around;
			font-size: 24px;

			li {
				position:relative;
				min-width:20%;
				text-align: center;
				
				&::after {
					content:'';
					position: absolute;
					left:0;
					width:100%;
					height:0;
					background-image:url('../images/bars-grey.svg');
					background-repeat:no-repeat;
					background-size:contain;
					z-index: 0;
					opacity:0;
					transition:opacity,transform .3s;
				}
				
				&::after {
					bottom:0;
					background-position:bottom;
					transform-origin:center bottom;
					transform:scaleY(-1) scaleX(0) translateY(5px);
				}
				&::before {
					content:'';
					position: absolute;
					left:0;
					width:100%;
					height:0;
					background-image:url('../images/bars-grey.svg');
					background-repeat:no-repeat;
					background-size:contain;
					z-index: 0;
					opacity:0;
					transition:opacity,transform .3s;
				}
				
				&::before {
					top:5px;
					background-position:top;
					transform-origin:center top;
					transform:scaleY(-1) scaleX(0) translateY(0);
				}
				&:hover,
				&.current_page_item{
					&::after,
					&::before {
						opacity:1;
						height:10px;
					}
					
					&::after  {
						transform:scaleY(-1) scaleX(1) translateY(5px);
					}
					&::before  {
						transform:scaleY(-1) scaleX(1) translateY(0px);
					}
					a {

					}
				}
				&.current_page_item{
					&::after {
						background-image:url('../images/bars-red.svg');
					}
				}
				
				a {
					position: relative;
					z-index: 1;
					margin:0 0;
					color:$white;
				}
			}
		}
	}

	&--utility {
		order: 1;
		font-size: 0.875rem;

		@include respond-to('md') {
			order: 0;
			justify-content: flex-end;
		}
	}

	&--footer {
		font-size: 0.75rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		a, button {

			&:hover,
			&:focus {}
		}

		span.dropdown-toggle,
		a.dropdown-toggle::after {
			display: none;
		}

		/*
		// NOTE: I don't recommend enabling depth > 0 on the footer menu
		.dropdown-menu {
			display: block;
			position: relative;
			top: 0;
			left: 0;
			float: none;
			padding: 0;
			margin: 0;
			color: inherit;
			background-color: transparent;
			border: none;
			border-radius: 0;
		}
		*/
	}
}

// Bootstrap menu class applied to navs within navbars
.navbar-nav {

	.navbar-light & {

		.nav-link {
			color: inherit;

			&:hover,
			&:focus {
				color: $primary;
			}
		}

		.active,
		.current_page_item,
		.current-menu-item,
		.current-page-ancestor,
		.current-menu-ancestor {

			.nav-link {
				color: $primary;
			}
		}
	}

	.navbar-dark & {

		.nav-link {
			color: inherit;

			&:hover,
			&:focus {
				//color: $primary;
			}
		}

		.active,
		.current_page_item,
		.current-menu-item,
		.current-page-ancestor,
		.current-menu-ancestor {

			.nav-link {
				//color: $primary;
			}
		}
	}
}


// Page/post navigation
.navigation {
	clear: both;
	margin: $spacer 0;

	// Paginated links
	&.pagination-nav {}

	// Next/prev navigation
	.nav-previous {}
	.nav-next {}

	&.posts-nav {}
	&.pages-nav {}
	&.comments-nav {}
}


// Jetpack Infinite scroll

// Globally hidden elements when Infinite Scroll is supported and in use.
.infinite-scroll .navigation,
.infinite-scroll.neverending .site-footer {
	display: none;
}

// When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before.
.infinity-end.neverending .navigation,
.infinity-end.neverending .site-footer {
	display: block;
}
