/**
 * Sidebar & Widget Styles
 */

.widget-area {
	position: relative;
	padding-bottom: 1.5rem;

	a {}

	h2 {
		font-family: $font-family-sans-serif;
		font-weight: 700;
		font-size: 1em;
		text-transform: uppercase;

		&.sidebar-title,
		&.widget-title {
			position: relative;
			margin-top: 0;
			padding-bottom: 0.5em;

			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				display: block;
				height: 0;
				width: 100%;
				border-bottom: $border-width solid $border-color;
			}
		}
	}

	.links-group {
		position: relative;

		&.collapse {

			.links {
				height: 0;
				opacity: 0;
				overflow: hidden;
				transition: $transition-base;
			}

			&:hover, &:focus {
				.links {
					height: auto;
					opacity: 1;
				}
			}
		}
	}

	.widget ul,
	.links {
		margin: 0 0 3em;
		padding: 0;

		li {
			display: inline-block;
			font-family: $font-family-sans-serif;
			font-weight: 700;
			font-size: 0.875em;
			margin-bottom: 0.5em;
			margin-right: 0.5em;

			@include respond-to('md') {
				display: block;
				margin-right: 0;
			}
		}
	}

	.current_page_item,
	.current-menu-item,
	.current_page_ancestor,
	.current-menu-ancestor {

		a {
			color: $body-color;
		}
	}

	.widget_search {
		text-align: center;
	}

	.widget {
		margin: 0 0 $grid-gutter-width;

		select {
			max-width: 100%;
		}
	}

	.content-navigation-mobile {
		text-align: center;
	}

	.content-navigation {
		display: none;
	}

	@include respond-to('md') {

		.content-navigation {
			display: block;
		}

		.content-navigation-mobile {
			display: none;
		}
	}
}
