//
// General Settings
//
// NOTE: Since we utilize Bootstrap heavily, most settings variables are in the
// settings/_bootstrap file
//
// Remember to at least set the base font-family in the bootstrap settings file
//

$container-max-width: 1140px;

$masthead-height: 3.5rem;
$masthead-height-md: 6rem;
$masthead-height-lg: 7.5rem;

$sidebar-position: left; // left | right
$sidebar-width: 17.5rem;
$sidebar-margin: $spacer;
$sidebar-breakpoint: 'lg';

// Breakpoint for columns made in the Gutenberg editor
$block-col-breakpoint: 'md';
